/*.site-main contains everything except the header. On large screens, it fills the remaining height of the window.*/
.site-main {
  position: relative;
  z-index: 1;
  /*large screens*/
}
@media screen and (min-width: 64em) {
  .site-main {
    height: calc(100vh - 4rem);
  }
}

.map-container {
  height: 80vh;
  /* large screens*/
}
@media screen and (min-width: 64em) {
  .map-container {
    height: 100%;
  }
}

iframe {
  width: 100%;
  height: 100%;
}

/*.sidebar {
  z-index: 2;
  padding: 1rem;
  background-color: WhiteSmoke;
  /*   On medium screens, the sidebar is set to match the height of the map minus search.*/
  /*  On large screens, the sidebar is full-height*/
}
/*@media print, screen and (min-width: 40em) {
  .sidebar {
    margin-top: 3.25rem;
    height: calc(60vh - 3.25rem);
    overflow-y: auto;
    box-shadow: -4px 0 0 0 rgba(0, 0, 0, 0.1);
  }
}
@media screen and (min-width: 64em) {
  .sidebar {
    height: calc(100% - 3.25rem);
    box-shadow: 4px 0 0 0 rgba(0, 0, 0, 0.1);
  }
} */

.content-close-button-container {
  position: relative;
  z-index: 4;
  width: 100%;
  box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.1);
  background-color: oldlace;
  text-align: right;
  padding: 1rem 1rem 0;
  margin-bottom: -1rem;
  /*  large screens*/
}
@media screen and (min-width: 64em) {
  .content-close-button-container {
    padding: 0;
    margin-bottom: 0;
  }
}

.content-close-button {
  color: #6b717b;
  font-size: 2rem;
  line-height: 1;
  position: relative;
  margin: 0;
  width: 1em;
  /*   On large screens, the close button is positioned on the edge of the content area, overlapping the map.  */
}
@media screen and (min-width: 64em) {
  .content-close-button {
    display: block;
    position: fixed;
    z-index: 3;
    top: 4.5rem;
    right: 41.66667%;
    background-color: oldlace;
    margin-right: -4px;
    padding: 0 0.375rem 0.1875rem;
    box-shadow: -4px 4px 0 rgba(0, 0, 0, 0.1);
  }
}

.content {
  padding: 1rem;
  z-index: 3;
  /*   On medium screens, the content area is set to match the height of the map*/
}
@media screen and (min-width: 44em) {
  .content {
    box-shadow: -4px 0 0 0 rgba(0, 0, 0, 0.1);
    height: calc(100%);
    background-color: oldlace;
    overflow-y: auto;
  }
}

/* On medium screens, if the content area is not open, make the map and sidebar full-height.*/
@media print, screen and (min-width: 40em) {
  .site-main:not(.has-content-open) .map-container,
.site-main:not(.has-content-open) .sidebar {
    height: calc(100vh - 4rem);
  }
}